[submodule "modules/cxr-metrics"]
	path = modules/cxr-metrics
	url = https://github.com/rajpurkarlab/CXR-Report-Metric.git
[submodule "modules/ReXrank"]
	path = modules/ReXrank
	url = https://github.com/rajpurkarlab/ReXrank.git
[submodule "modules/GREEN"]
	path = modules/GREEN
	url = https://github.com/Stanford-AIMI/GREEN.git
