/data/
/CheXagent/
/.venv/
/.idea
/mimic-cxr/
/LLaVA-NeXT/
/unsloth/
/ReXrank/
/data_chexinstruct/
/git_guide/
/missing_images.txt
*.xml
*.json
*.csv
*.tsv
*.log
*.pth
*.pt
*.pickle
*.pkl
*.arrow

/src/finetune/Tutorials/
/Users/filruff/Desktop/PHD/PROGETTI

.idea/workspace.xml
*.DS_Store
bash/.DS_Store
/bash

/data/mimic-nle/query/dev-query.json
/data/mimic-nle/mimic-nle-dev.json
/data/mimic-nle/mimic-nle-test.json
/data/mimic-nle/mimic-nle-train.json
/data/mimic-nle/query/test-query.json
/data/mimic-nle/query/train-query.json
/activateEnv.sh
/src/preprocess/mimic-cxr/radiology-report-extraction/
/src/preprocess/mimic-cxr/mimic-cxr/
